/* Universal Selector */
*{
    /* color: red; */
}

/* tag or element selector */
h1{
    text-align: center;
    color: green;
}
/* attribute selector */
a[title="google"]{
    letter-spacing: 20px;   
}

/* id selector */
#idselector{
    color: blueviolet;
    text-indent: 40px;
}

/* class selector */
.classselector{
    color: brown;
    letter-spacing: 1px;
    word-spacing: 5px;
}

/* Descendant selector */
div p {
    background-color: yellow;
}

/* Child Selector */
div>p {
    color: black;
}
span>p {
    color: green;
}

/* Hover Selector */
h1 a:hover {
    color: white;
    font-size: 50px;
    background-color: red;
}
h2 a:link {
    color: green;
}
h2 a:active {
    color: greenyellow;
}
h1:hover {
    color: red;
}

/* h2 a:visited {
    color: none;
} */
h2 a:hover {
    color:brown;
}