* {
    padding: 0px;
    margin: 0px;
}
.nav_logo {
    width: 200px;
    height: 120px;
    margin-left: 120px;
    margin-top: 10px;
}
.nav_item {
    float: right;
}
.nav_item li {
    display: inline-block;
    margin-top: 50px;
    margin-right: 50px;
}
.nav_item li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.nav {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}
.nav_cart_item {
    margin-right: 20px;
}
.nav_item li a:hover {
    color: red;
}
.cart_noti {
    position: relative;
    top: -19px;
    right: 30px;
    background-color: red;
    border-radius: 9px;
    color: white;
}
/* end nav */

/* start banner */
.carousel_img {
    width: 100%;
    height: 400px;
}
.carousel_text {
    position: absolute;
    top: 205px;
    left: 150px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 30px;
}
.carousel_text h2 {
    margin-bottom: 15px;
}
.shop_now {
    margin-top: 15px;
    background-color: red;
    color: white;
    border-color: red;
    padding: 12px  20px;
    border: 1px solid red;
    border-radius: 5px;
}
.shop_now:hover {
    cursor: pointer;
}
/* end banner */

/* Shipping and service */
.service {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 12px;
}
.service_text {
    display: inline-block;
    margin-left: 15px;
}
.service_title {
    display: block;
    font-weight: bold;
    margin-bottom: 7px;
}
.service_border {
    border: 1px solid gray;
    border-radius: 3px;
    padding-top: 7px;
    padding-left: 5px;
    padding-bottom: 5px;
}
/* end service */

/* start promotion */
.promotion_title {
    margin-left: 45px;
    margin-top: 25px;
}
.divided {
    width: 70px;
    border: 1.5px solid red;

}
.promo_img {
    width: 100%;
    display: block;
}
.promo {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 5px 50px;
    grid-column-gap: 20px;
}
.promo_shirt {
    display: grid;
    border: 1px solid gray;
    border-radius: 2px;
}
.promo_item {
    text-align: center;
}
.promo_price {
    position: absolute;
}
.dis_price {
    color: white;
    position: relative;
    left: 175px;
    display: block;
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    margin-top: 5px;
}
.normal_price {
    color: red;
    position: relative;
    left: 175px;
    text-decoration: line-through;
}
/* end promotion */

/* start new arrival */
.arrival_title {
    margin-left: 45px;
    margin-top: 25px;
}
.arrival_grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-left: 50px;
    margin-right: 50px;

}
.new_arrival_item {
    border: 1px solid gray;
    margin-top: 6px;
    position: relative;
}
.arrival_img {
    width: 100%;
}
.whist_list {
    float: right;
    margin-right: 10px;
}
.arrival_item_text {
    display: inline-block;
    margin-left: 10px;
}
.arrival_cart_icon {
    position: absolute;
    top: 40%;
    right: 40%;
    opacity: 0;
}
.arrival_cart_icon a {
    border: 1px solid red;
    background-color: white;
    color: red;
    border-radius: 2px;
    padding: 5px;
}
.arrival_cart_icon:hover {
    opacity: 2;
}
.new_arrival_item:hover {
    opacity: 0.6;
}
/* End New Arrival */

/* Start Scribe */
.scriber {
    background-color: rgb(227, 9, 9);
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.scriber > div {
    width: 36%;
    float: left;
    margin-left: 175px;
    margin-top: 30px;
    color: white;
}
.scribe_img {
    width: 320px;
    height: 160px;
    margin-left: 60px;
    padding-top: 20px;
    padding-left: 50px;
}
.scriber p {
    margin: 15px 0px;
}
.scriber input {
    width: 350px;
    height: 30px;
    outline: none; 
    border: 1px solid red;
    border-radius: 5px 0px 0px 5px;
}
.scriber button {
    width: 100px;
    height: 30px;
    outline: none;
    border: 1px solid black;
    color: white;
    background-color: black;
    border-radius: 0px 5px 5px 0px;
}
/* End Subscribe */
/* Start News */
.news_heading {
    padding-left: 100px;
    margin-top: 20px;
}
.news_divided {
    width: 75px;
    border: 1.5px solid red;
    margin-left: 100px;
}
.news {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 100px;
    margin-right: 40px;
    grid-column-gap: 20px;
}
.news img {
    width: 100%;
    padding-bottom: 10px;
}
.news > div {
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}
.news_text {
    padding-left: 15px;
    padding-bottom: 20px;
}
.news_text h3 {
    margin-bottom: 10px;
}
.post_date {
    font-style: italic;
    margin-bottom: 10px;
    display: block;
    opacity: .7;
}
.news_text p {
    padding-bottom: 10px;
}
.read_more {
    border: 1px solid red;
    background-color: red;
    color: white;
    padding: 5px;
    float: right;
    margin-right: 20px;
    margin-bottom: 8px;
    border-radius: 5px;
    text-decoration: none;
}
.news img:hover {
    transform: scale(1.2);
    transition-duration: .8s;
}
.image_hover {
    overflow: hidden;
    display: inline-block;
}
/* End News */

/* Start footer */
.footer {
    display: grid;
    grid-template-columns: 600px 200px 200px auto;
    background-color: black;
    color: white;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 25px;
}
.footer_about {
    margin-left: 100px;
}
.divided_footer {
    width: 80px;
    border: 2px solid red;
    margin-top: 5px;
    margin-bottom: 10px;
}
.footer_nav_item {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    padding-left: 40px;
}
.footer_address {
    margin-top: 20px;
}
.address_icon {
    padding-right: 10px;
}
.footer_social_icon a {
    color: white;
    margin-top: 30px;
    display: inline-block;
    padding-left: 20px;
}