* {
    padding: 0px;
    margin: 0px;
}
.nav_logo {
    width: 200px;
    height: 120px;
    margin-left: 120px;
    margin-top: 10px;
}
.nav_item {
    float: right;
}
.nav_item li {
    display: inline-block;
    margin-top: 50px;
    margin-right: 50px;
}
.nav_item li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.nav {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}
.nav_cart_item {
    margin-right: 20px;
}
.nav_item li a:hover {
    color: red;
}
.cart_noti {
    position: relative;
    top: -19px;
    right: 30px;
    background-color: red;
    border-radius: 9px;
    color: white;
}
/* end nav */

/* start banner */
.carousel_img {
    width: 100%;
    height: 400px;
}
.carousel_text {
    position: absolute;
    top: 205px;
    left: 150px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 30px;
}
.carousel_text h2 {
    margin-bottom: 15px;
}
.shop_now {
    margin-top: 15px;
    background-color: red;
    color: white;
    border-color: red;
    padding: 12px  20px;
    border: 1px solid red;
    border-radius: 5px;
}
.shop_now:hover {
    cursor: pointer;
}
/* Shipping and service */
.table {
    border: 1px solid green;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}
#truck_icon {
    width: 100px;
    height: 50px;
}
.table1 {
    border: 1px solid green;   
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    float: left;    
}
#phone_icon {
    width: 80px;
    height: 40px;
}
#shield_icon {
    width: 80px;
    height:40px;
}
#gift_icon {
    width: 80px;
    height: 40px;
}
.service {
    margin: auto;
}