* {
    padding: 0px;
    margin: 0px;
}
.nav_logo {
    width: 200px;
    height: 120px;
    margin-left: 120px;
    margin-top: 10px;
}
.nav_item {
    float: right;
}
.nav_item li {
    display: inline-block;
    margin-top: 50px;
    margin-right: 50px;
}
.nav_item li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.nav {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}
.nav_cart_item {
    margin-right: 20px;
}
.nav_item li a:hover {
    color: red;
}
.cart_noti {
    position: relative;
    top: -19px;
    right: 30px;
    background-color: red;
    border-radius: 9px;
    color: white;
}
/* end nav */

/* start banner */
.carousel_img {
    width: 100%;
    height: 400px;
}
.carousel_text {
    position: absolute;
    top: 205px;
    left: 150px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 30px;
}
.carousel_text h2 {
    margin-bottom: 15px;
}
.shop_now {
    margin-top: 15px;
    background-color: red;
    color: white;
    border-color: red;
    padding: 12px  20px;
    border: 1px solid red;
    border-radius: 5px;
}
.shop_now:hover {
    cursor: pointer;
}
/* end banner */

/* Shipping and service */
.service {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 12px;
}
.service_text {
    display: inline-block;
    margin-left: 15px;
}
.service_title {
    display: block;
    font-weight: bold;
    margin-bottom: 7px;
}
.service_border {
    border: 1px solid gray;
    border-radius: 3px;
    padding-top: 7px;
    padding-left: 5px;
    padding-bottom: 5px;
}
/* end service */

/* start promotion */
.promotion_title {
    margin-left: 45px;
    margin-top: 25px;
}
.divided {
    width: 70px;
    border: 1.5px solid red;

}
.promo_img {
    width: 100%;
    display: block;
}
.promo {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 5px 50px;
    grid-column-gap: 20px;
}
.promo_shirt {
    display: grid;
    border: 1px solid gray;
    border-radius: 2px;
}
.promo_item {
    text-align: center;
}
.promo_price {
    position: absolute;
}
.dis_price {
    color: white;
    position: relative;
    left: 175px;
    display: block;
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    margin-top: 5px;
}
.normal_price {
    color: red;
    position: relative;
    left: 175px;
    text-decoration: line-through;
}
/* end promotion */

/* start new arrival */
.arrival_title {
    margin-left: 45px;
    margin-top: 25px;
}
.arrival_grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-left: 50px;
    margin-right: 50px;

}
.new_arrival_item {
    border: 1px solid gray;
    margin-top: 6px;
    position: relative;
}
.arrival_img {
    width: 100%;
}
.whist_list {
    float: right;
    margin-right: 10px;
}
.arrival_item_text {
    display: inline-block;
    margin-left: 10px;
}
.arrival_cart_icon {
    position: absolute;
    top: 40%;
    right: 40%;
    opacity: 0;
}
.arrival_cart_icon a {
    border: 1px solid red;
    background-color: white;
    color: red;
    border-radius: 2px;
    padding: 5px;
}
.arrival_cart_icon:hover {
    opacity: 2;
}
.new_arrival_item:hover {
    opacity: 0.6;
}